header {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #b0e0e6;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

div, section {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;

}
#two_column  {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;

}

#left {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body, h1 {font-family: Helvetica, sans-serif;
	background-image: images/randfhero.jpg;
	color: #0C1324;

}
h1 {text-align: center;
	font-weight: bold;

}
body {text-align: left;
}
#slogan {
	font-weight: 700;
	color: #E9AB17;

}
background-image: images/randfhero.jpg;
}
.text {
font-family: "karma", serif;
}
.list {
	font-family: "karma", serif;
	font-weight: bold;
}
.action {
	font-family: "ubuntu", sans-serif;
}
.head {
	font-family: "ubuntu", sans-serif;
	font-weight: bold;
}

#contact {text-align: center;
}



