header {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #b0e0e6;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
}

div, section {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;

}
#two_column  {
	background-color: #008080;
	border: 1px black solid;
	padding: 20px;

}

#left {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #aef5cd;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}





