header {
	background-color: #FF3B3F;
	border: 0;
	padding: .5em;
	font-family: "Franklin Gothic", sans-serif;
	color: #312e2e;

}

h1 {font-family: Helvetica, sans-serif;
	background-image: images/randfhero.jpg;
	color: #0C1324;
	image-align: center;
	color: #312e2e;
}

body {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: 1% 1.5%;
	width: 30%;
	color: #312e2e;

}