header {
	background-color: #FF3B3F;
	border: 0;
	padding: .5em;
	font-family: "Franklin Gothic", sans-serif;
	color: #312e2e;

}

button {
	background-color: #8dbdd8;
	border: 1px solid
    border-radius: 25px;
	padding: .1em 1em;
	font-family: "Franklin Gothic", sans-serif;
	display: inline;
	text-align: center;
}



div, section {
	background-color: #CAEBF2;
	border: 0;
	padding: 2%;
	font-family: "ubuntu", sans-serif;
	color: #312e2e;
}

#button {
	background-color: #8dbdd8;
	border: .5em solid;
	border-radius: 15px;
	padding: .1em 1em;
	font-family: "Franklin Gothic", sans-serif;
	display: inline;
	text-align: center;
}

#three_column  {
	background-color: #CAEBF2;
	width: 90%;
	border: 0;
	padding: 2em;
	color: #312e2e;

}


#left {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: 1% 1.5%;
	width: 30%;
	color: #312e2e;
	float: left;
}

#center {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;

	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: 1% 1.5%;
	width: 30%;
	color: #312e2e;
	float: left;
}

#right {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: 1% 1.5%;
	width: 30%;
	color: #312e2e;
	float: left;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#four_column  {
	background-color: #CAEBF2;
	width: 90%;
	border: 0;
	padding: 1%;
	color: #312e2e;
	}


#reverse {
background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	font-family: "ubuntu", sans-serif;
	padding: 2%;
	width: 20%;	
	color: #312e2e;
	float: left;

}

#redefine {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	font-family: "ubuntu", sans-serif;
	padding: 2%;
	width: 20%;
	color: #312e2e;
	float: left;
}

#unblemish {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	font-family: "ubuntu", sans-serif;
	padding: 2%;
	width: 20%;
	color: #312e2e;
	float: left;
}

#soothe {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	font-family: "ubuntu", sans-serif;
	padding: 2%;
	width: 20%;
	color: #312e2e;
	float: left;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

h1 {font-family: Helvetica, sans-serif;
	background-image: images/randfhero.jpg;
	color: #0C1324;
	image-align: center;
	color: #312e2e;
}

h1, h3 {
	text-align: center;
	font-weight: bold;
	font-family: "ubuntu", sans-serif;
	color: #312e2e;
   
}



background-image: {
	images/randfhero.jpg;
}


#end {
	
	font-family: "ubuntu", sans-serif;
	width: 98%;
	border: 0;
	padding: 1%;
	color: #312e2e;
	float: left;
}


footer {
	background-color: #FF3B3F;
	width: 98%;
	border: 0;
	padding: 1%;
	font-family: "ubuntu", sans-serif;
	color: #312e2e;
}

.head {
	font-family: "ubuntu", sans-serif;
	font-weight: bold;
	color: #312e2e;
}

#contact {text-align: center;
	color: #312e2e;
}

@media only screen and (max-width: 1280px) {
	
	img, h1, h3 {
	width: 75%;
	display: block;
	text-align: center;
}

	#column_three {
	float: none;
	font-size: 8px;
	padding: 1em;
	width: 75%;
	
	}
}
#left {
	float: none;
	font-size: 8px;
	padding: 1em;
	width: 75%;
}

}
#center {
	float: none;
	font-size: 8px;
	padding: 1em;
	width: 75%;
}
}
#right {
	float: none;
	font-size: 8px;
	padding: 1em;
	width: 75%;
}
	#column_four {
	float: none;
	width: 75%;
	}
}
	
}




