header {
	background-color: #FF3B3F;
	border: 0;
	padding: 20px;
	font-family: "Franklin Gothic", sans-serif;
	color: #292626;

}

nav {
	background-color: #A9A9A9;
	border: 0;
	padding: 20px;
}

aside {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;
	font-family: "Franklin Gothic", sans-serif;
	color: #292626;

}

article {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;
	font-family: "Franklin Gothic", sans-serif;
	color: #292626;

}


div, section {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;
	font-family: "ubuntu", sans-serif;
	color: #292626;


}
#three_column  {
	background-color: #CAEBF2;
	border: 0;
	padding: 1%;
	color: #292626;

}

#left {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;

	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
	color: #292626;
}
#center {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;

	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
	color: #292626;
}

#right {
	background-color: #EFEFEF;
	font-family: "ubuntu", sans-serif;

		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
	color: #292626;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}





#Reverse {
background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
font-family: "ubuntu", sans-serif;

	padding: 2%;
	float: left;
	width: 20%;	color: #292626;
}

#Redefine {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	font-family: "ubuntu", sans-serif;

	padding: 2%;
	float: left;
	width: 20%;
	color: #292626;
}

#Unblemish {
	background-color: #EFEFEF;
		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
font-family: "ubuntu", sans-serif;

	padding: 2%;
	float: left;
	width: 20%;
	color: #292626;
}

#Soothe {
	background-color: #EFEFEF;
		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
font-family: "ubuntu", sans-serif;

	padding: 2%;
	float: left;
	width: 20%;
	color: #292626;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

#End {
background-color: #CAEBF2;
	border: 0;
	padding: 20px;
color: #292626;
}

body, h1 {font-family: Helvetica, sans-serif;
	background-image: images/randfhero.jpg;
	color: #0C1324;
	image-align: center;
color: #292626;
}
h1 {text-align: center;
	font-weight: bold;
	font-family: "ubuntu", sans-serif;


}
body {text-align: left;
	color: #292626;
}
#slogan {
	font-weight: 700;
	color: #E9AB17;
	font-family: "ubuntu", sans-serif;
	color: #292626;


}

footer {
	background-color: #FF3B3F;
	border: 0;
	padding: 20px;
	font-family: "ubuntu", sans-serif;
	color: #292626;

}

background-image: images/randfhero.jpg;
}
.text {
font-family: "karma", serif;
}
.list {
	font-family: "karma", serif;
	font-weight: bold;
}
.action {
	font-family: "ubuntu", sans-serif;


#Narrative {
		background-color: #FF3B3F;
		font-family: "ubuntu", sans-serif;
		border: 0;
	padding: 20px;
	}

	#About_Lisa {
background-color: #FF3B3F;
font-family: "ubuntu", sans-serif;
border: 0;
	padding: 20px;
	}

}
.head {
	font-family: "ubuntu", sans-serif;
	font-weight: bold;
}

#contact {text-align: center;
}




