header {
	background-color: #FF3B3F;
	border: 0;
	padding: 20px;
}

nav {
	background-color: #A9A9A9;
	border: 0;
	padding: 20px;
}

aside {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;
}

article {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;
}


div, section {
	background-color: #CAEBF2;
	border: 0;
	padding: 20px;

}
#three_column  {
	background-color: #CAEBF2;
	border: 0;
	padding: 1%;

}

#left {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
}
#center {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
}

#right {
	background-color: #EFEFEF;
		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
	padding: .5em 1.5%;
	float: left;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}





#Reverse {
background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
	padding: 2% 1%;
	float: left;
	width: 20%;	
}

#Redefine {
	background-color: #EFEFEF;
	background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
	border: 0;
	padding: 2% 1%;
	float: left;
	width: 20%;
}

#Unblemish {
	background-color: #EFEFEF;
		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
	padding: 2% 1%;
	float: left;
	width: 20%;
}

#Soothe {
	background-color: #EFEFEF;
		background-image:linear-gradient(to bottom, #CAEBF2 0%, #CAEBF2 100%);
border: 0;
	padding: 2% 1%;
	float: left;
	width: 20%;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

#End {
background-color: #CAEBF2;
	border: 0;
	padding: 20px;

}

body, h1 {font-family: Helvetica, sans-serif;
	background-image: images/randfhero.jpg;
	color: #0C1324;
	image-align: center;

}
h1 {text-align: center;
	font-weight: bold;

}
body {text-align: left;
}
#slogan {
	font-weight: 700;
	color: #E9AB17;

}

footer {
	background-color: #FF3B3F;
	border: 0;
	padding: 20px;
}

background-image: images/randfhero.jpg;
}
.text {
font-family: "karma", serif;
}
.list {
	font-family: "karma", serif;
	font-weight: bold;
}
.action {
	font-family: "ubuntu", sans-serif;
}
.head {
	font-family: "ubuntu", sans-serif;
	font-weight: bold;
}

#contact {text-align: center;
}




