body {text-align: center;
	background: 1EFFBE;
	color: FFFDE6;

}
h1 {text-align: center;
	background: 1EFFBE;
	color:FFFDE6;

}
#slogan {text-align: center;
	background: 1EFFBE;
	color:FFFDE6
	font-style: italic ;

}