body, h1 {font-family: Helvetica, sans-serif;
	background: #52516A;
	color: #6A2D42;

}
h1 {text-align: center;
	font-weight: bold;

}
body {text-align: left;
}
#slogan {
	font-style: italic ;

}
background-image: images/randfhero.jpg;
}